 <div class="row">
  <div class="col-2 menu">
  
  </div>
  <div class="col-10 menu">
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>S.N</th>
        <th>Employee_Full_Name</th>
        <th>Employee_Address</th>
        <th>Employee_Email</th>
        <th>Employee_Postion</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee|%>
      <tr>
         <td><%= @employees.index(employee)+1%></td>
        <td><%= employee.first_name%></td>
        <td><%= employee.address%></td>
        <td><%= employee.email%></td>
        <td><%= employee.position%></td>
        <td>
          <%= link_to "profile", employee, class: "btn btn-info"%>
          <%= link_to "Attendence", "#", class: "btn btn-info"%>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
  </div>
  </div>
  </div>
