


<section id="employeedetails">
     <div class="container">
          <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h1>Our Employees List</h1>
                    </div>
               </div>
               <% @employees.each do |employee|%>
      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.2s">

              <div class="employeedetails-plan" style="font-size: 14px;line-height: 1.5;">   
                    <!--  <%= @employees.index(employee)+1%><br> -->
                 <div class="profilepic"> <%= image_tag employee.avatar%></div><br>
                  Employee_ID:<%= employee.id%><br>           
                  Name:      <%= employee.first_name%> <%= employee.last_name%><br>
                  Phone_no:  <%= employee.phone_no%><br>
                  Address:   <%= employee.address%><br>
                  Email:     <%= employee.email%><br>
                  
                  department:<%= employee.department%><br>
                  Position:  <%= employee.position%><br>
                  DOB:       <%= employee.dob%><br>
                    <%= link_to "profile", employee, class: "btn btn-default section-btn"%>
                   <%= link_to "Attendance", "#", class: "btn btn-default section-btn"%>
            </div>
      </div>
     <%end%>
          </div>
     </div>
</section>