<body background="/assets/background1.jpg">
<style type="text/css">
  img {

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
</style>
<div id="login">
 <!--  <h2 style="color: white;font-weight:bold; font-family:‘Courier New’,Courier,monospace;font-size: 63px;text-shadow: 3px -2px rgb(240, 222, 112);">Log in</h2> -->

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field" style="text-align: center;">
     
      <%= f.email_field :email, autofocus: true, placeholder:"Enter your email Here", id:"infield", class:"efield" %>
    </div>

    <div class="field" style="text-align:center;">
      
      <%= f.password_field :password, autocomplete: "off",placeholder:"Enter Password Here" ,id:"infield"%>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field"style="color:black;font-weight: bold;font-size: 20px;">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me%>
      </div>
    <% end -%>

    <div class="actions" style="">
      <%= f.submit "Log in",class:"loginbutton"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</body>