<%= form_for(attendance) do |f| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :intime %>
    <%= f.datetime_select :intime %>
  </div>

  <div class="field">
    <%= f.label :outtime %>
    <%= f.text_field :outtime,value:"",id:"time-holder" %>
  </div>

  <div class="actions" value="time",name="timer", id="time">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
$(
    function(){

        $('#time').click(function(){
                  var time = new Date();                
                  $('#time-holder').val(time.toLocaleTimeString());  
        });

    }
);
</script>
