<p id="notice"><%= notice %></p>

<p>
  <strong>Intime:</strong>
  <%= @attendance.intime %>
</p>

<p>
  <strong>Outtime:</strong>
  <%= @attendance.outtime %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
